In [1]:
import pandas as pd
import os

In [2]:
os.listdir("./data")

['2020교통량통합.xlsx',
 'holiday.csv',
 'metro.csv',
 '국가공휴일.xlsx',
 '디지털 스킬셋 기술과제.docx',
 '서울시_기상데이터.csv',
 '실전db.csv',
 '실전db_holiday.csv',
 '지하철노선위경도정보3.xlsx']

In [5]:
original_metro = pd.read_excel("./data/지하철노선위경도정보3.xlsx")
new_metro = pd.read_csv("./data/metro.csv")

In [6]:
display(original_metro.head())
display(new_metro.head())

         역이름         위도          경도
0  4·19민주묘지역  37.649527  127.013689
1      가락시장역  37.493092  127.118258
2   가산디지털단지역  37.480389  126.882644
3        가양역  37.561429  126.854402
4       가오리역  37.641634  127.016769

,Unnamed: 0,지하철역,평일당일권,2시간권,3시간권,4시간권,평일5시간권,6시간권,12시간권,24시간권,주간권,공유 주차장,월주차
0,0,구파발역,3000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,연신내역,9900.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100000.0
2,2,독바위역,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,불광역,15000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70000.0
4,4,불광역,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,180000.0

In [12]:
ori_list = original_metro['역이름'].unique()
new_list = new_metro['지하철역'].unique()


print(len(ori_list))
print(len(new_list))


count = 0
for x in ori_list :
    if x in new_list :
        pass
    else :
        print(x)
        count += 1
        
print(count,"개")

298
152
4·19민주묘지역
가락시장역
가산디지털단지역
가양역
가오리역
가좌역
강남역
강동구청역
강동역
개롱역
개봉역
개포동역
개화산역
거여역
경찰병원역
고덕역
고속터미널역
공항시장역
교대역
구로디지털단지역
구로역
구룡역
구반포역
구의역
구일역
국회의사당역
굽은다리역
금천구청역
길동역
김포공항역
까치산역
낙성대역
남구로역
남부터미널역
남성역
남태령역
내방역
노들역
노량진역
논현역
답십리역
당산역
대림역
대모산입구역
대방역
대청역
대치역
도곡역
도림천역
독산역
동작역
둔촌동역
둔촌오륜역
등촌역
마곡나루역
마곡역
마천역
매봉역
명일역
목동역
몽촌토성역
무악재역
문래역
문정역
반포역
발산역
방배역
방이역
방화역
보라매역
복정역
봉은사역
봉천역
사당역
사평역
삼성역
삼성중앙역
삼전역
상도역
상봉역
상일동역
샛강역
서울대입구역
서초역
석수역
석촌고분역
석촌역
선릉역
선유도역
선정릉역
송정역
송파나루역
송파역
수락산역
수서역
숭실대입구역
신길역
신논현역
신대방삼거리역
신대방역
신도림역
신림역
신목동역
신반포역
신방화역
신사역
신정네거리역
신정역
신풍역
안암역
암사역
압구정로데오역
압구정역
양재시민의숲역
양재역
양천구청역
양천향교역
양평역
여의나루역
여의도역
염창역
영등포구청역
영등포시장역
영등포역
오금역
오류동역
오목교역
온수역
올림픽공원역
우장산역
월드컵경기장역
이수역
일원역
잠실나루역
잠실새내역
잠실역
잠원역
장승배기역
장지역
종합운동장역
중앙보훈병원역
증미역
천왕역
천호역
청계산입구역
청담역
총신대입구역
학여울역
한성백제역
한티역
화곡역
흑석역
152 개