In [1]:
import pandas as pd 
import numpy as np 
#시각화
import matplotlib.pyplot as plt
import seaborn as sns
#경고무시
import sys
import warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
def get_font_family():
    """
    시스템 환경에 따른 기본 폰트명을 반환하는 함수
    """
    import platform
    system_name = platform.system()
    # colab 사용자는 system_name이 'Linux'로 확인

    if system_name == "Darwin" :
        font_family = "AppleGothic"
    elif system_name == "Windows":
        font_family = "Malgun Gothic"
    else:
        # Linux
        # colab에서는 runtime을 <꼭> 재시작 해야함.
        # 런타임을 재시작 하지 않고 폰트 설치를 하면 기본 설정 폰트가 로드되어 한글이 깨짐.
        !apt-get update -qq
        !apt-get install fonts-nanum -qq  > /dev/null

        import matplotlib.font_manager as fm

        fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
        font = fm.FontProperties(fname=fontpath, size=9)
        fm._rebuild()
        font_family = "NanumBarunGothic"
    return font_family

In [3]:
# 시각화를 위한 폰트설정
# 위에서 만든 함수를 통해 시스템 폰트를 불러와서 font_family 라는 변수에 할당.
a = get_font_family()
# 폰트설정
import matplotlib.pyplot as plt 
plt.rc("font", family = a)
# 마이너스폰트 설정
plt.rc("axes", unicode_minus=False)
# ggplot으로 그래프 스타일 설정 / 개인 자유
plt.style.use("ggplot")

# 1. 서울시 기상데이터 살펴보기

In [4]:
weather_df = pd.read_csv('./서울시_기상데이터.csv', encoding='cp949')
weather_df

       지점                일시    기온  강수량   풍속  습도  일조시간  적설량  지면온도  지중온도
0     108   2020-01-01 1:00  -5.9  NaN  1.7  40   NaN  NaN  -2.4   3.2
1     108   2020-01-01 2:00  -5.7  NaN  0.1  42   NaN  NaN  -2.4   3.1
2     108   2020-01-01 3:00  -5.6  0.0  0.0  46   NaN  NaN  -2.7   3.1
3     108   2020-01-01 4:00  -5.4  NaN  0.0  50   NaN  NaN  -2.5   3.0
4     108   2020-01-01 5:00  -5.2  NaN  0.0  55   NaN  NaN  -2.2   3.0
...   ...               ...   ...  ...  ...  ..   ...  ...   ...   ...
8755  108  2020-12-30 20:00 -11.8  NaN  4.8  54   NaN  NaN  -6.5   2.2
8756  108  2020-12-30 21:00 -12.4  NaN  3.2  58   NaN  NaN  -6.9   2.2
8757  108  2020-12-30 22:00 -12.7  NaN  2.8  56   NaN  NaN  -7.1   2.1
8758  108  2020-12-30 23:00 -12.9  NaN  2.2  54   NaN  NaN  -7.3   2.1
8759  108   2020-12-31 0:00 -12.7  NaN  3.4  52   NaN  NaN  -7.6   2.1

[8760 rows x 10 columns]

In [5]:
def search_data(df):   
    
    print("결측치 확인 :")
    print(df.isna().sum())
    print()
    print()
    
    print("유니크값 확인 :")
    for col in df.columns:
        print(f"column : {col}")
        print(f"The number of unique : {df[col].nunique()} 개")
        print(f"The unique : {df[col].unique()}")
        print()

In [6]:
search_data(weather_df)

결측치 확인 :
지점         0
일시         0
기온         1
강수량     7701
풍속         0
습도         0
일조시간    3969
적설량     8552
지면온도       8
지중온도      12
dtype: int64


유니크값 확인 :
column : 지점
The number of unique : 1 개
The unique : [108]

column : 일시
The number of unique : 8760 개
The unique : ['2020-01-01 1:00' '2020-01-01 2:00' '2020-01-01 3:00' ...
 '2020-12-30 22:00' '2020-12-30 23:00' '2020-12-31 0:00']

column : 기온
The number of unique : 455 개
The unique : [ -5.9  -5.7  -5.6  -5.4  -5.2  -4.8  -4.6  -4.3  -4.2  -3.4  -2.2  -1.
  -0.4   0.3   0.2   0.1   0.   -0.9  -0.7  -0.6  -0.5  -0.1   0.7   1.7
   2.5   3.4   3.7   3.8   3.3   2.7   2.    1.2   0.5  -1.1  -1.5  -1.8
  -2.   -2.5  -3.   -3.3  -2.6   2.9   4.    4.1   4.3   2.2   1.3   0.6
  -0.8  -1.6  -1.9  -2.1  -2.3  -2.7  -2.4   4.2   5.    5.6   6.1   4.7
   3.6   1.8   1.6  -0.3  -1.7  -3.1   2.1   5.5   6.    6.5   5.9   0.8
   1.1   1.5   3.    3.5   4.5   3.9   2.8   3.1   4.4   4.6   5.1   5.3
   5.8   6.3   6.4   6.6   6.7   6.8   7.    7.1   7.2   7.3   7.5   7.7
   8.7   2.4   3.2   2.3  -2.8  -1.2  -3.2  -3.6  -3.5  -3.9  -4.1  -3.8
   1.   -0.2   2.6  -1.4   0.4   1.9  -4.4  -4.9  -5.5  -5.1  -5.3  -6.2
  -6.3  -1.3  -2.9  -4.7  -4.    0.9   5.7   4.9   4.8  -4.5   5.2   8.
   9.1   9.6   9.8   9.2   8.4   6.9   8.3   8.5   7.8  10.9  11.6  11.1
  10.3   9.4   5.4   7.4   7.6   9.7   8.1   9.3   9.5   7.9   6.2  10.
   8.6   1.4  -3.7  -6.   -5.8  -6.7  -7.2  -7.8  -8.8  -9.5 -10.1 -10.6
 -10.9  -9.9  -8.6  -7.4  -6.6  -5.   -6.5  -7.3  -8.1  -8.9  -9.3 -10.7
 -11.  -11.2 -11.5 -11.7 -10.5  -7.6  -6.1  -7.    8.9  12.8  13.9  14.2
  13.5  11.   12.7  14.3  13.   10.2  12.2  14.5  15.5  15.   14.4  14.1
  13.6  12.   -6.4  -6.9  -7.1  -7.5  -7.7  -7.9  -8.   -8.3   9.9  10.5
  10.7  10.1   8.2  11.8  11.5  11.4   9.   11.7  10.4  10.8  11.9  13.8
  14.   13.2  11.2  14.9  16.2  16.6  16.9  10.6  16.   17.   17.3  16.1
  13.1  12.5  12.1  12.3  11.3  16.7  15.7  12.6  13.3   8.8  15.1  19.
  19.2  18.2  14.8  15.3  16.4  15.4  12.4  16.8  16.5  17.2  17.6  18.4
  19.1  18.8  17.7  12.9  13.4  16.3  20.1  20.3  20.5  20.2  19.6  15.6
  15.9  15.8  14.7  17.4  18.5  17.5  15.2  14.6  18.3  19.7  18.9  13.7
  17.9  18.7  19.4  19.9  20.4  21.6  23.   23.2  23.5  23.1  17.8  17.1
  19.5  18.6  20.7  20.6  22.1  23.3  22.8  22.   20.8  18.   19.3  22.2
  23.9  25.5  26.   25.3  24.5  19.8  18.1  20.   22.9  22.4  21.8  21.
  24.8  26.3  26.5  27.4  26.8  26.7  26.1  24.9  21.7  21.1  23.8  24.7
  25.2  25.1  21.5  24.   25.9  27.3  23.4  21.2  20.9  22.7  24.3  25.8
  25.7  25.6  23.6  24.4  26.4  21.4  22.6  24.1  25.4  26.6  22.5  21.9
  22.3  23.7  26.2  27.5  21.3  28.3  27.9  29.   29.9  28.5  27.2  28.2
  28.1  25.   27.8  28.6  29.3  29.4  30.5  30.6  29.1  27.1  28.4  28.9
  28.   29.8  31.2  31.6  30.7  27.7  29.5  31.1  31.9  32.6  32.7  32.5
  30.   24.6  30.3  31.   28.7  24.2  29.2  30.2  31.3  31.4  27.   33.1
  33.   32.   29.7  26.9  30.4  29.6  27.6  28.8  31.5  31.8  32.3  30.9
  32.8  33.7  35.2  35.   31.7  30.8  30.1  32.4  32.1  33.3  34.3  34.4
  33.5   nan  34.1  33.4  -9.4  -9.6  -9.1  -8.4  -6.8 -10.2 -10.4 -11.1
 -10.   -8.2  -8.7  -9.7 -10.8  -8.5 -11.8 -12.2 -12.4 -10.3 -12.7 -12.9]

column : 강수량
The number of unique : 117 개
The unique : [ nan  0.   0.1  0.6  0.5  2.1  7.4  6.5  2.4  4.6  7.2  9.   7.1  6.2
  4.   1.4  0.2  1.5  0.8  1.2  3.2  0.3  1.7  8.1  3.5  0.4  3.6  3.1
  1.9  7.3  0.7  2.2  3.4  3.7  1.1  1.6  1.3  1.   2.5  2.6  1.8  3.3
  0.9 18.9  6.7  2.7  4.1  7.7  6.6  7.8  2.   5.   5.6 13.3 10.8  2.3
 12.4 11.  10.6  3.8  3.9  2.8  5.3 14.6  5.8  5.2  8.7 10.7 17.3 16.6
  9.8 15.1 10.4 26.9  8.  19.  11.6  3.   5.5  2.9 12.2  8.9 19.8 15.3
 16.3 21.6 11.7  6.1  6.3  6.  17.9 15.7 15.5  4.8  4.7  6.4 28.6  4.3
 18.2 19.4 21.8 14.4 22.8  4.9 16.8 22.3  5.1  7.5 22.1 13.2  8.6  4.5
  7.  29.5 11.5  5.9 42.1 36.8]

column : 풍속
The number of unique : 78 개
The unique : [1.7 0.1 0.  1.9 2.1 1.8 2.3 1.5 1.6 1.2 0.9 0.8 0.3 2.5 1.  2.2 2.4 2.
 2.8 3.1 0.7 0.4 2.6 1.4 3.2 2.9 1.3 0.6 1.1 4.  3.4 3.5 0.5 3.3 2.7 3.6
 4.9 4.5 3.9 4.7 4.8 4.3 4.4 5.1 3.8 4.1 5.  5.3 5.6 4.2 5.8 6.  3.7 3.
 4.6 0.2 5.5 5.4 6.3 5.9 5.7 6.2 6.1 5.2 7.3 6.9 7.2 6.6 7.6 7.4 8.  7.
 6.5 6.7 6.4 7.9 7.7 7.5]

column : 습도
The number of unique : 90 개
The unique : [ 40  42  46  50  55  58  62  64  70  76  75  72  67  65  66  71  69  57
  56  61  68  74  78  80  82  81  85  86  60  48  35  30  28  38  39  43
  59  63  54  49  51  33  34  36  41  44  45  53  52  32  29  37  47  79
  83  89  92  93  94  95  96  91  87  73  77  22  23  31  26  27  25  19
  21  24  84  17  18  97  90  16  20  88  14  15  13  12  11  98  99 100]

column : 일조시간
The number of unique : 11 개
The unique : [nan 0.  0.5 0.3 0.7 1.  0.1 0.8 0.9 0.2 0.6 0.4]

column : 적설량
The number of unique : 38 개
The unique : [nan 0.  0.3 0.7 0.6 0.4 1.  1.7 1.8 2.5 3.9 3.8 3.  2.7 2.6 2.3 2.1 2.
 1.9 3.1 4.9 5.5 5.4 5.1 4.6 4.3 4.1 3.7 2.2 1.4 1.3 1.2 1.1 0.8 0.5 2.8
 3.2 1.6 0.9]

column : 지면온도
The number of unique : 594 개
The unique : [-2.4 -2.7 -2.5 -2.2 -2.1 -2.  -1.9 -1.6 -1.1 -0.4 -0.1  0.4  0.8  0.1
 -0.2 -0.3 -0.5 -0.6  0.   0.9  1.7  1.3  1.5  1.   0.5 -0.7 -0.8 -1.
 -1.4 -1.5 -2.6 -0.9  0.2  1.4  3.1  2.8 -1.8 -2.3 -2.9 -1.7 -1.3  2.4
  4.   4.2  2.6 -3.  -3.3 -3.6 -3.7 -2.8  0.3  1.8  3.4  3.   2.1  0.6
  0.7  1.9  2.2  2.5  2.7  2.9  3.2  3.3  3.5  3.8  4.3  4.4  4.7  4.9
  5.6  5.9  6.1  6.2  6.   6.3  6.4  6.5  7.2  5.3  2.3  3.9  4.6  5.1
  5.4  5.8  1.1  4.1 -1.2 -3.2 -3.5 -4.  -4.3 -4.5  1.2 -3.1 -4.1 -4.4
 -4.8 -5.  -5.2 -5.3 -3.8 -4.2 -4.6 -4.9 -5.1  4.5 -3.9  2.  -3.4 -4.7
  5.5  5.   6.9  9.8  9.6  7.4  8.8  8.2  1.6  7.   8.3  9.   7.9  5.2
 10.3 12.5 12.   3.7  7.1  7.6  8.9  9.4  8.6  4.8 11.  10.4  7.3  3.6
 15.3  9.2  8.4  6.6 13.5 12.8  9.3  6.7  9.7  8.7 10.7  8.  -5.5 -5.9
 -5.7 -6.  -6.3 -6.6 -6.9 -7.2 -7.4 -7.7 -7.8 -7.6  5.7  7.7  9.5  6.8
  7.8 11.6 13.9 14.5 12.4 13.8 16.5  nan 14.6 10.9  8.5 10.8 11.4  9.1
 12.7 15.7 17.3 15.8 10.5 17.  14.  10.   8.1 12.3 14.2 11.5 10.2 11.2
 10.6 11.1 15.2 15.5 13.4 15.  16.8 14.1 13.  11.3 14.3 11.7  7.5 13.2
 12.2 19.3 20.8 19.8 19.1 21.4 21.  17.4 15.4 13.6 14.9 18.5 17.1 17.5
 18.  14.8 17.2 16.1 17.9 16.  12.1 23.  10.1 22.2 26.  26.9 25.6 22.4
 11.9 18.9 25.2 22.  25.4 22.1 18.1 17.7  9.9 18.2 18.7 16.6 18.3 16.4
 19.2 13.3 13.7 16.3 21.8 22.5 21.7 16.9 22.8 25.7 27.1 23.5 19.4 20.
 15.9 20.1 19.7 23.4 25.5 25.8 23.9 16.7 21.3 27.2 29.4 28.5 11.8 24.2
 27.8 30.2 31.4 29.1 26.4 19.5 27.9 31.  29.8 26.1 20.2 24.8 29.3 31.8
 32.6 30.1 21.1 18.6 24.9 33.2 24.3 19.6 25.9 29.9 26.6 13.1 12.9 12.6
 17.8 24.7 23.1 24.5 27.3 21.6 16.2 15.6 30.6 31.6 30.7 20.9 28.8 31.9
 32.8 31.7 28.  22.6 32.3 21.5 22.3 32.2 30.  32.9 26.2 30.9 34.7 35.1
 33.4 29.7 32.5 33.6 34.6 28.4 33.3 35.5 35.9 33.  27.  21.2 34.4 33.1
 35.7 35.3 35.4 28.9 27.6 37.1 37.3 35.8 26.3 23.6 32.  35.  33.7 28.1
 26.7 40.3 39.9 38.2 40.4 36.8 29.5 30.4 37.6 42.6 45.5 44.9 40.5 36.
 29.  36.6 39.6 38.7 32.4 24.  37.5 43.2 45.4 45.1 41.6 38.  15.1 27.7
 31.2 21.9 18.4 25.  24.1 19.9 20.5 22.7 29.6 20.6 40.8 42.4 41.5 38.3
 36.5 39.2 42.8 32.1 25.3 38.1 41.4 43.5 40.  20.7 24.6 38.5 43.  45.2
 44.8 42.1 36.9 31.1 44.3 46.8 46.6 44.  38.6 17.6 14.7 39.5 47.2 48.8
 46.9 34.9 19.  36.7 32.7 18.8 20.3 41.2 42.7 51.  49.8 39.  28.3 44.7
 51.3 52.1 49.5 45.3 39.1 14.4 34.8 39.7 46.  50.4 52.4 53.3 50.7 40.1
 49.  33.8 42.9 53.6 52.  43.8 23.2 34.5 35.6 23.3 26.8 42.2 24.4 23.8
 28.2 23.7 36.4 26.5 27.5 28.6 28.7 25.1 31.5 34.1 20.4 34.3 36.1 33.9
 37.7 45.  37.9 37.2 41.8 46.5 49.2 48.5 41.3 43.1 27.4 43.9 44.6 43.7
 42.  43.4 45.6 48.1 48.6 37.8 31.3 48.7 46.7 49.6 51.9 47.5 50.6 44.5
 47.1 54.4 54.5 53.1 41.9 54.1 56.2 56.4 54.9 49.7 35.2 47.3 58.5 58.1
 58.7 54.  50.3 45.7 30.3 47.  52.8 51.6 47.7 52.3 46.4 29.2 22.9 50.8
 55.5 58.2 50.5 47.9 47.8 45.8 48.4 40.7 39.4 30.5 53.5 36.3 30.8 44.2
 54.6 57.2 56.7 37.  56.3 57.6 57.5 54.3 50.  49.9 33.5 34.2 38.4 34.
 41.1 37.4 38.9 40.6 39.8 48.2 46.2 49.1 38.8 47.4 36.2 -5.8 -6.2 -6.4
 -6.5 -5.6 -6.7 -6.8 -5.4 -7.1 -7.3]

column : 지중온도
The number of unique : 268 개
The unique : [ 3.2  3.1  3.   2.9  2.8  2.7  2.6  2.5  3.3  3.4  3.5  3.7  3.8  3.9
  4.   4.1  4.2  4.3  4.4  4.5  4.6  4.7  4.8  3.6  2.4  2.3  2.2  2.1
  2.   1.9  1.8  1.7  4.9  5.   5.1  nan  5.3  5.4  5.6  5.7  5.5  5.2
  5.9  6.1  6.3  6.4  6.5  6.2  6.   5.8  6.7  6.8  6.9  6.6  7.1  7.4
  7.6  7.7  7.8  7.5  7.3  7.   7.2  8.   8.1  8.2  8.3  8.4  7.9  8.5
  8.6  8.8  8.9  8.7  9.   9.1  9.2  9.5  9.9 10.  10.1 10.2 10.3 10.4
  9.8  9.7  9.6 10.7 10.9 11.  11.1 11.2 10.8 10.6 10.5 11.3 11.4 11.5
 11.6 11.7 11.8 11.9 12.  12.2 12.4 12.6 12.7 12.5 12.3 12.1 12.8 12.9
 13.  13.1 13.3 13.5 13.6 13.4 13.7 13.2 13.8 14.  14.2 14.3 14.4 14.1
 13.9 14.6 14.7 14.5 14.9 15.1 15.3 15.4 15.2 15.  14.8 15.6 15.7 15.9
 16.  15.8 16.1 16.3 16.5 16.7 16.9 17.1 17.2 17.3 17.  17.4 17.5 17.6
 17.7 18.  18.2 18.3 18.4 18.5 19.6 18.1 18.6 18.8 19.  19.2 19.3 19.4
 19.1 18.9 17.9 17.8 16.8 18.7 20.1 16.6 16.4 16.2 19.5 19.8 19.9 19.7
 20.  20.2 20.4 20.6 20.8 21.  21.1 21.2 20.9 20.7 20.3 21.3 21.5 21.8
 21.9 22.  21.7 21.6 21.4 22.2 22.3 22.4 20.5 22.5 22.6 22.7 22.1 22.9
 23.1 23.3 23.4 23.2 23.  22.8 23.6 23.7 23.8 23.5 23.9 24.1 24.2 24.3
 24.  24.5 24.7 24.8 24.9 24.6 24.4 25.  25.2 25.3 25.1 25.4 25.5 25.6
 25.7 25.8 25.9 26.  26.1 26.2 26.3 26.5 26.7 26.8 26.6 26.4 26.9 27.1
 27.2 27.3 27.4 27.  27.5 27.6 27.7 27.8 27.9 28.  28.1 28.2 15.5  9.4
  9.3  1.6  1.5]

In [7]:
# NaN 0으로 처리
weather_df = weather_df.fillna(0)
weather_df

       지점                일시    기온  강수량   풍속  습도  일조시간  적설량  지면온도  지중온도
0     108   2020-01-01 1:00  -5.9  0.0  1.7  40   0.0  0.0  -2.4   3.2
1     108   2020-01-01 2:00  -5.7  0.0  0.1  42   0.0  0.0  -2.4   3.1
2     108   2020-01-01 3:00  -5.6  0.0  0.0  46   0.0  0.0  -2.7   3.1
3     108   2020-01-01 4:00  -5.4  0.0  0.0  50   0.0  0.0  -2.5   3.0
4     108   2020-01-01 5:00  -5.2  0.0  0.0  55   0.0  0.0  -2.2   3.0
...   ...               ...   ...  ...  ...  ..   ...  ...   ...   ...
8755  108  2020-12-30 20:00 -11.8  0.0  4.8  54   0.0  0.0  -6.5   2.2
8756  108  2020-12-30 21:00 -12.4  0.0  3.2  58   0.0  0.0  -6.9   2.2
8757  108  2020-12-30 22:00 -12.7  0.0  2.8  56   0.0  0.0  -7.1   2.1
8758  108  2020-12-30 23:00 -12.9  0.0  2.2  54   0.0  0.0  -7.3   2.1
8759  108   2020-12-31 0:00 -12.7  0.0  3.4  52   0.0  0.0  -7.6   2.1

[8760 rows x 10 columns]

In [8]:
# 일시 컬럼을 일자와 시간으로 분리 
weather_df['일자'] = 0
for i in range(len(weather_df)):
    weather_df['일자'][i] = weather_df['일시'].iloc[i][:10]
weather_df

,지점,일시,기온,강수량,풍속,습도,일조시간,적설량,지면온도,지중온도,일자
0,108,2020-01-01 1:00,-5.9,0.0,1.7,40,0.0,0.0,-2.4,3.2,2020-01-01
1,108,2020-01-01 2:00,-5.7,0.0,0.1,42,0.0,0.0,-2.4,3.1,2020-01-01
2,108,2020-01-01 3:00,-5.6,0.0,0.0,46,0.0,0.0,-2.7,3.1,2020-01-01
3,108,2020-01-01 4:00,-5.4,0.0,0.0,50,0.0,0.0,-2.5,3.0,2020-01-01
4,108,2020-01-01 5:00,-5.2,0.0,0.0,55,0.0,0.0,-2.2,3.0,2020-01-01
...,...,...,...,...,...,...,...,...,...,...,...
8755,108,2020-12-30 20:00,-11.8,0.0,4.8,54,0.0,0.0,-6.5,2.2,2020-12-30
8756,108,2020-12-30 21:00,-12.4,0.0,3.2,58,0.0,0.0,-6.9,2.2,2020-12-30
8757,108,2020-12-30 22:00,-12.7,0.0,2.8,56,0.0,0.0,-7.1,2.1,2020-12-30
8758,108,2020-12-30 23:00,-12.9,0.0,2.2,54,0.0,0.0,-7.3,2.1,2020-12-30
8759,108,2020-12-31 0:00,-12.7,0.0,3.4,52,0.0,0.0,-7.6,2.1,2020-12-31

In [9]:
weather_df['시간'] = 0
for i in range(len(weather_df)):
    weather_df['시간'][i] = weather_df['일시'].iloc[i][11:]
weather_df

,지점,일시,기온,강수량,풍속,습도,일조시간,적설량,지면온도,지중온도,일자,시간
0,108,2020-01-01 1:00,-5.9,0.0,1.7,40,0.0,0.0,-2.4,3.2,2020-01-01,1:00
1,108,2020-01-01 2:00,-5.7,0.0,0.1,42,0.0,0.0,-2.4,3.1,2020-01-01,2:00
2,108,2020-01-01 3:00,-5.6,0.0,0.0,46,0.0,0.0,-2.7,3.1,2020-01-01,3:00
3,108,2020-01-01 4:00,-5.4,0.0,0.0,50,0.0,0.0,-2.5,3.0,2020-01-01,4:00
4,108,2020-01-01 5:00,-5.2,0.0,0.0,55,0.0,0.0,-2.2,3.0,2020-01-01,5:00
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,108,2020-12-30 20:00,-11.8,0.0,4.8,54,0.0,0.0,-6.5,2.2,2020-12-30,20:00
8756,108,2020-12-30 21:00,-12.4,0.0,3.2,58,0.0,0.0,-6.9,2.2,2020-12-30,21:00
8757,108,2020-12-30 22:00,-12.7,0.0,2.8,56,0.0,0.0,-7.1,2.1,2020-12-30,22:00
8758,108,2020-12-30 23:00,-12.9,0.0,2.2,54,0.0,0.0,-7.3,2.1,2020-12-30,23:00
8759,108,2020-12-31 0:00,-12.7,0.0,3.4,52,0.0,0.0,-7.6,2.1,2020-12-31,0:00

In [10]:
# 필요한 컬럼만 남기고 정린
weather_df = weather_df[['일시','일자','시간', '기온','강수량','적설량']]
weather_df

                    일시          일자     시간    기온  강수량  적설량
0      2020-01-01 1:00  2020-01-01   1:00  -5.9  0.0  0.0
1      2020-01-01 2:00  2020-01-01   2:00  -5.7  0.0  0.0
2      2020-01-01 3:00  2020-01-01   3:00  -5.6  0.0  0.0
3      2020-01-01 4:00  2020-01-01   4:00  -5.4  0.0  0.0
4      2020-01-01 5:00  2020-01-01   5:00  -5.2  0.0  0.0
...                ...         ...    ...   ...  ...  ...
8755  2020-12-30 20:00  2020-12-30  20:00 -11.8  0.0  0.0
8756  2020-12-30 21:00  2020-12-30  21:00 -12.4  0.0  0.0
8757  2020-12-30 22:00  2020-12-30  22:00 -12.7  0.0  0.0
8758  2020-12-30 23:00  2020-12-30  23:00 -12.9  0.0  0.0
8759   2020-12-31 0:00  2020-12-31   0:00 -12.7  0.0  0.0

[8760 rows x 6 columns]

## 1-1. 강수 여부에 따른 구분
#### 눈/비가오면 사람들이 자차를 많이 이용할 것이다라는 가정하에 교통량이 많은 시간보다 1시간 앞서 비가오는지 확인

- 서울시 교통량 조사에 따르면 주중에는 오전 7시-9시, 오후 6시~7시에 교통량이 많음
- 주말에는 13시-14시, 16~17시 사이 교통량이 많음
- 이 시간대를 기준으로 정리

### 주말에 눈/비가오면?

In [11]:
import datetime as dt

# datetime 형식으로 자료형 바꿔주기
weather_df['일자'] = pd.to_datetime(weather_df['일자'])

# 요일 컬럼 넣어주기 (월요일:0 ~ 일요일:6)
# 주말(토,일)은 5,6
weather_df['요일'] = weather_df['일자'].dt.weekday
weather_df

                    일시         일자     시간    기온  강수량  적설량  요일
0      2020-01-01 1:00 2020-01-01   1:00  -5.9  0.0  0.0   2
1      2020-01-01 2:00 2020-01-01   2:00  -5.7  0.0  0.0   2
2      2020-01-01 3:00 2020-01-01   3:00  -5.6  0.0  0.0   2
3      2020-01-01 4:00 2020-01-01   4:00  -5.4  0.0  0.0   2
4      2020-01-01 5:00 2020-01-01   5:00  -5.2  0.0  0.0   2
...                ...        ...    ...   ...  ...  ...  ..
8755  2020-12-30 20:00 2020-12-30  20:00 -11.8  0.0  0.0   2
8756  2020-12-30 21:00 2020-12-30  21:00 -12.4  0.0  0.0   2
8757  2020-12-30 22:00 2020-12-30  22:00 -12.7  0.0  0.0   2
8758  2020-12-30 23:00 2020-12-30  23:00 -12.9  0.0  0.0   2
8759   2020-12-31 0:00 2020-12-31   0:00 -12.7  0.0  0.0   3

[8760 rows x 7 columns]

In [12]:
# 공휴일은 주말로 바꿔주기
holiday_list = ['2020-01-01', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27', '2020-03-01', '2020-05-05', '2020-04-15', '2020-04-30', '2020-06-06', '2020-08-15', '2020-09-30', '2020-10-01', '2020-10-02', '2020-10-03', '2020-10-09', '2020-12-25']

for zz in range(len(weather_df)) :
    if weather_df['일자'].loc[zz].strftime('%Y-%m-%d') in holiday_list :
        weather_df['요일'].loc[zz] = 6
        
display(weather_df)

                    일시         일자     시간    기온  강수량  적설량  요일
0      2020-01-01 1:00 2020-01-01   1:00  -5.9  0.0  0.0   6
1      2020-01-01 2:00 2020-01-01   2:00  -5.7  0.0  0.0   6
2      2020-01-01 3:00 2020-01-01   3:00  -5.6  0.0  0.0   6
3      2020-01-01 4:00 2020-01-01   4:00  -5.4  0.0  0.0   6
4      2020-01-01 5:00 2020-01-01   5:00  -5.2  0.0  0.0   6
...                ...        ...    ...   ...  ...  ...  ..
8755  2020-12-30 20:00 2020-12-30  20:00 -11.8  0.0  0.0   2
8756  2020-12-30 21:00 2020-12-30  21:00 -12.4  0.0  0.0   2
8757  2020-12-30 22:00 2020-12-30  22:00 -12.7  0.0  0.0   2
8758  2020-12-30 23:00 2020-12-30  23:00 -12.9  0.0  0.0   2
8759   2020-12-31 0:00 2020-12-31   0:00 -12.7  0.0  0.0   3

[8760 rows x 7 columns]

## 1) 평일 눈/비가오는지 여부에 따른 파생변수 만들기

In [13]:
# 평일
weekday = weather_df[(weather_df['요일'] != 5) & (weather_df['요일'] != 6)]
weekday

                    일시         일자     시간    기온  강수량  적설량  요일
23     2020-01-02 0:00 2020-01-02   0:00  -0.7  0.0  0.0   3
24     2020-01-02 1:00 2020-01-02   1:00  -0.7  0.0  0.0   3
25     2020-01-02 2:00 2020-01-02   2:00  -0.6  0.0  0.0   3
26     2020-01-02 3:00 2020-01-02   3:00  -0.6  0.0  0.0   3
27     2020-01-02 4:00 2020-01-02   4:00  -0.7  0.0  0.0   3
...                ...        ...    ...   ...  ...  ...  ..
8755  2020-12-30 20:00 2020-12-30  20:00 -11.8  0.0  0.0   2
8756  2020-12-30 21:00 2020-12-30  21:00 -12.4  0.0  0.0   2
8757  2020-12-30 22:00 2020-12-30  22:00 -12.7  0.0  0.0   2
8758  2020-12-30 23:00 2020-12-30  23:00 -12.9  0.0  0.0   2
8759   2020-12-31 0:00 2020-12-31   0:00 -12.7  0.0  0.0   3

[6001 rows x 7 columns]

In [14]:
# 주중에는 오전 7시, 오후 5시로 선택

# weekday = weekday[(weekday['시간']=='7:00') | (weekday['시간']=='17:00')]
# weekday

In [15]:
# 주중에는 오전 7시로 선택 
weekday = weekday[(weekday['시간']=='7:00')]
weekday

                   일시         일자    시간    기온  강수량  적설량  요일
30    2020-01-02 7:00 2020-01-02  7:00  -0.5  0.0  0.0   3
54    2020-01-03 7:00 2020-01-03  7:00  -3.0  0.0  0.0   4
126   2020-01-06 7:00 2020-01-06  7:00   2.1  0.0  0.0   0
150   2020-01-07 7:00 2020-01-07  7:00   5.6  0.0  0.0   1
174   2020-01-08 7:00 2020-01-08  7:00   1.5  0.0  0.0   2
...               ...        ...   ...   ...  ...  ...  ..
8574  2020-12-23 7:00 2020-12-23  7:00   0.6  0.0  0.0   2
8598  2020-12-24 7:00 2020-12-24  7:00   3.2  0.0  0.0   3
8694  2020-12-28 7:00 2020-12-28  7:00   5.3  0.0  0.0   0
8718  2020-12-29 7:00 2020-12-29  7:00   1.9  0.0  0.0   1
8742  2020-12-30 7:00 2020-12-30  7:00 -11.8  0.0  0.0   2

[250 rows x 7 columns]

In [16]:
weekday.iloc[0]['강수량']

0.0

In [17]:
weekday['강수여부'] = 0

for i in range(len(weekday)):
    if weekday['강수량'].iloc[i] > 0.0:
        weekday['강수여부'].iloc[i] = 1
    if weekday['적설량'].iloc[i] > 0.0:
        weekday['강수여부'].iloc[i] = 1
weekday

                   일시         일자    시간    기온  강수량  적설량  요일  강수여부
30    2020-01-02 7:00 2020-01-02  7:00  -0.5  0.0  0.0   3     0
54    2020-01-03 7:00 2020-01-03  7:00  -3.0  0.0  0.0   4     0
126   2020-01-06 7:00 2020-01-06  7:00   2.1  0.0  0.0   0     0
150   2020-01-07 7:00 2020-01-07  7:00   5.6  0.0  0.0   1     0
174   2020-01-08 7:00 2020-01-08  7:00   1.5  0.0  0.0   2     0
...               ...        ...   ...   ...  ...  ...  ..   ...
8574  2020-12-23 7:00 2020-12-23  7:00   0.6  0.0  0.0   2     0
8598  2020-12-24 7:00 2020-12-24  7:00   3.2  0.0  0.0   3     0
8694  2020-12-28 7:00 2020-12-28  7:00   5.3  0.0  0.0   0     0
8718  2020-12-29 7:00 2020-12-29  7:00   1.9  0.0  0.0   1     0
8742  2020-12-30 7:00 2020-12-30  7:00 -11.8  0.0  0.0   2     0

[250 rows x 8 columns]

In [18]:
weekday['강수여부'].value_counts()

0    226
1     24
Name: 강수여부, dtype: int64

## 2) 주말 눈/비가오는지 여부에 따른 파생변수 만들기

In [19]:
# 주말
weekend = weather_df[(weather_df['요일'] == 5) | (weather_df['요일'] == 6)]
weekend

                    일시         일자     시간   기온  강수량  적설량  요일
0      2020-01-01 1:00 2020-01-01   1:00 -5.9  0.0  0.0   6
1      2020-01-01 2:00 2020-01-01   2:00 -5.7  0.0  0.0   6
2      2020-01-01 3:00 2020-01-01   3:00 -5.6  0.0  0.0   6
3      2020-01-01 4:00 2020-01-01   4:00 -5.4  0.0  0.0   6
4      2020-01-01 5:00 2020-01-01   5:00 -5.2  0.0  0.0   6
...                ...        ...    ...  ...  ...  ...  ..
8682  2020-12-27 19:00 2020-12-27  19:00  7.2  0.0  0.0   6
8683  2020-12-27 20:00 2020-12-27  20:00  6.5  0.0  0.0   6
8684  2020-12-27 21:00 2020-12-27  21:00  7.1  0.0  0.0   6
8685  2020-12-27 22:00 2020-12-27  22:00  6.7  0.0  0.0   6
8686  2020-12-27 23:00 2020-12-27  23:00  6.4  0.0  0.0   6

[2759 rows x 7 columns]

In [20]:
# 주말에는 12시 기준으로 선택

weekend = weekend[(weekend['시간']=='12:00')]
weekend

                    일시         일자     시간   기온  강수량  적설량  요일
11    2020-01-01 12:00 2020-01-01  12:00 -2.2  0.1  0.0   6
83    2020-01-04 12:00 2020-01-04  12:00  4.2  0.0  0.0   5
107   2020-01-05 12:00 2020-01-05  12:00  4.0  0.0  0.0   6
251   2020-01-11 12:00 2020-01-11  12:00  2.6  0.0  0.0   5
275   2020-01-12 12:00 2020-01-12  12:00  0.4  0.0  0.0   6
...                ...        ...    ...  ...  ...  ...  ..
8483  2020-12-19 12:00 2020-12-19  12:00 -3.4  0.0  0.0   5
8507  2020-12-20 12:00 2020-12-20  12:00 -0.5  0.0  0.0   6
8627  2020-12-25 12:00 2020-12-25  12:00  1.3  0.0  0.0   6
8651  2020-12-26 12:00 2020-12-26  12:00  5.9  0.0  0.0   5
8675  2020-12-27 12:00 2020-12-27  12:00  8.1  0.0  0.0   6

[115 rows x 7 columns]

In [21]:
print(weekend['강수량'].nunique())
print(weekend['적설량'].nunique())

10
3

In [22]:
weekend['강수여부'] = 0

for i in range(len(weekend)):
    if weekend['강수량'].iloc[i] != 0.0:
        weekend['강수여부'].iloc[i] = 1
    if weekend['적설량'].iloc[i] != 0.0:
        weekend['강수여부'].iloc[i] = 1
weekend

                    일시         일자     시간   기온  강수량  적설량  요일  강수여부
11    2020-01-01 12:00 2020-01-01  12:00 -2.2  0.1  0.0   6     1
83    2020-01-04 12:00 2020-01-04  12:00  4.2  0.0  0.0   5     0
107   2020-01-05 12:00 2020-01-05  12:00  4.0  0.0  0.0   6     0
251   2020-01-11 12:00 2020-01-11  12:00  2.6  0.0  0.0   5     0
275   2020-01-12 12:00 2020-01-12  12:00  0.4  0.0  0.0   6     0
...                ...        ...    ...  ...  ...  ...  ..   ...
8483  2020-12-19 12:00 2020-12-19  12:00 -3.4  0.0  0.0   5     0
8507  2020-12-20 12:00 2020-12-20  12:00 -0.5  0.0  0.0   6     0
8627  2020-12-25 12:00 2020-12-25  12:00  1.3  0.0  0.0   6     0
8651  2020-12-26 12:00 2020-12-26  12:00  5.9  0.0  0.0   5     0
8675  2020-12-27 12:00 2020-12-27  12:00  8.1  0.0  0.0   6     0

[115 rows x 8 columns]

In [23]:
weekend['강수여부'].value_counts()

0    103
1     12
Name: 강수여부, dtype: int64

In [24]:
# 주중 주말 합쳐서 하나의 데이터프레임 만들기
everyday = pd.concat([weekday, weekend], ignore_index=True )
everyday.sort_values(by=['일자'], axis=0, inplace=True, ignore_index=True)
everyday

                   일시         일자     시간    기온  강수량  적설량  요일  강수여부
0    2020-01-01 12:00 2020-01-01  12:00  -2.2  0.1  0.0   6     1
1     2020-01-02 7:00 2020-01-02   7:00  -0.5  0.0  0.0   3     0
2     2020-01-03 7:00 2020-01-03   7:00  -3.0  0.0  0.0   4     0
3    2020-01-04 12:00 2020-01-04  12:00   4.2  0.0  0.0   5     0
4    2020-01-05 12:00 2020-01-05  12:00   4.0  0.0  0.0   6     0
..                ...        ...    ...   ...  ...  ...  ..   ...
360  2020-12-26 12:00 2020-12-26  12:00   5.9  0.0  0.0   5     0
361  2020-12-27 12:00 2020-12-27  12:00   8.1  0.0  0.0   6     0
362   2020-12-28 7:00 2020-12-28   7:00   5.3  0.0  0.0   0     0
363   2020-12-29 7:00 2020-12-29   7:00   1.9  0.0  0.0   1     0
364   2020-12-30 7:00 2020-12-30   7:00 -11.8  0.0  0.0   2     0

[365 rows x 8 columns]

In [25]:
raining_day = everyday[['일자', '강수여부']]
raining_day

            일자  강수여부
0   2020-01-01     1
1   2020-01-02     0
2   2020-01-03     0
3   2020-01-04     0
4   2020-01-05     0
..         ...   ...
360 2020-12-26     0
361 2020-12-27     0
362 2020-12-28     0
363 2020-12-29     0
364 2020-12-30     0

[365 rows x 2 columns]

In [26]:
raining_day['강수여부'].unique()

array([1, 0], dtype=int64)

## 1-2. 기온에 따른 분류

- 폭염과 한파로 나눠보자

○ 폭염주의보 : 최고기온 33℃ 이상이고 일최고열지수(Heat Index) 32℃ 이상인 상태가 2일 이상지속될 것으로 예상되는 경우 발령

○ 한파주의보는 아침 최저기온이 영하 12도 이하로 2일 이상 지속될 것이 예상될 때

*참고] 상대 온도는 고려하지 않음(한파주의보는 10월부터 이듬해 4월까지 아침 최저기온이 전날보다 10도 이상 떨어질 것으로 예상될 때 발령)

In [27]:
temperatures = weather_df[(weather_df['기온'] > 33) | (weather_df['기온'] < -12)]
day = list(temperatures['일자'].unique())
day

[numpy.datetime64('2020-06-13T00:00:00.000000000'),
 numpy.datetime64('2020-06-22T00:00:00.000000000'),
 numpy.datetime64('2020-08-25T00:00:00.000000000'),
 numpy.datetime64('2020-08-26T00:00:00.000000000'),
 numpy.datetime64('2020-12-30T00:00:00.000000000'),
 numpy.datetime64('2020-12-31T00:00:00.000000000')]

In [28]:
everyday['이상기온'] =0 # 이상 기온 여부 변수 생성
for i in range(len(everyday)):
    if everyday['일자'].iloc[i] in day:
        everyday['이상기온'].iloc[i] = 1
everyday

                   일시         일자     시간    기온  강수량  적설량  요일  강수여부  이상기온
0    2020-01-01 12:00 2020-01-01  12:00  -2.2  0.1  0.0   6     1     0
1     2020-01-02 7:00 2020-01-02   7:00  -0.5  0.0  0.0   3     0     0
2     2020-01-03 7:00 2020-01-03   7:00  -3.0  0.0  0.0   4     0     0
3    2020-01-04 12:00 2020-01-04  12:00   4.2  0.0  0.0   5     0     0
4    2020-01-05 12:00 2020-01-05  12:00   4.0  0.0  0.0   6     0     0
..                ...        ...    ...   ...  ...  ...  ..   ...   ...
360  2020-12-26 12:00 2020-12-26  12:00   5.9  0.0  0.0   5     0     0
361  2020-12-27 12:00 2020-12-27  12:00   8.1  0.0  0.0   6     0     0
362   2020-12-28 7:00 2020-12-28   7:00   5.3  0.0  0.0   0     0     0
363   2020-12-29 7:00 2020-12-29   7:00   1.9  0.0  0.0   1     0     0
364   2020-12-30 7:00 2020-12-30   7:00 -11.8  0.0  0.0   2     0     1

[365 rows x 9 columns]

In [29]:
weather_var = everyday[['일자', '강수여부','이상기온']]
weather_var

            일자  강수여부  이상기온
0   2020-01-01     1     0
1   2020-01-02     0     0
2   2020-01-03     0     0
3   2020-01-04     0     0
4   2020-01-05     0     0
..         ...   ...   ...
360 2020-12-26     0     0
361 2020-12-27     0     0
362 2020-12-28     0     0
363 2020-12-29     0     0
364 2020-12-30     0     1

[365 rows x 3 columns]

In [30]:
weather_var.to_csv("./기상청.csv")

# 2. 교통데이터 살펴보기

In [8]:
traffic_df = pd.read_excel('./2020교통량통합.xlsx', engine='openpyxl')
traffic_df

,DATE,지점명,지점번호,방향,구분,0시,1시,2시,3시,4시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,2020-01-01,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,290.0,...,1472.0,1416.0,1483.0,1329.0,1157.0,1014.0,954.0,849.0,780.0,480.0
1,2020-01-02,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,165.0,266.0,...,1792.0,1897.0,1842.0,2061.0,1994.0,1443.0,1233.0,1165.0,1094.0,852.0
2,2020-01-03,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,457.0,295.0,236.0,279.0,...,2004.0,1929.0,2049.0,2140.0,2178.0,1654.0,1356.0,1260.0,1253.0,941.0
3,2020-01-04,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,740.0,518.0,388.0,331.0,330.0,...,1837.0,1788.0,1588.0,1669.0,1530.0,1222.0,1143.0,1089.0,1039.0,791.0
4,2020-01-05,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,533.0,424.0,297.0,230.0,209.0,...,1634.0,1673.0,1494.0,1429.0,1288.0,1035.0,987.0,884.0,803.0,564.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98815,2020-12-27,서부간선도로,F-09,유출,목동교->신정교,1310.0,804.0,582.0,473.0,488.0,...,3026.0,2957.0,2799.0,2858.0,2805.0,3031.0,3173.0,2928.0,2278.0,1559.0
98816,2020-12-28,서부간선도로,F-09,유출,목동교->신정교,1030.0,614.0,501.0,565.0,1160.0,...,2925.0,2595.0,2705.0,2264.0,2272.0,2954.0,3081.0,3099.0,2521.0,1837.0
98817,2020-12-29,서부간선도로,F-09,유출,목동교->신정교,1294.0,833.0,582.0,597.0,900.0,...,2634.0,2851.0,2704.0,2163.0,2165.0,2738.0,3054.0,3078.0,2544.0,1952.0
98818,2020-12-30,서부간선도로,F-09,유출,목동교->신정교,1451.0,929.0,616.0,591.0,929.0,...,2901.0,2636.0,2175.0,2036.0,1969.0,2787.0,3058.0,2936.0,2730.0,2160.0
98819,2020-12-31,서부간선도로,F-09,유출,목동교->신정교,1497.0,926.0,721.0,540.0,857.0,...,2742.0,2261.0,2021.0,2043.0,1782.0,2543.0,2927.0,2627.0,2699.0,1955.0

## 교통 이동량을 
- 특정 구역의 특정 시간대 교통량의 많고 적음으로 분류?
- 그렇게되면.. 교통량이 많은 지역은 주차장앱을 사용할 수 있지만, 다른 지역은 아닐텐데..
- 서울 전체 지역에 대한 교통량? 특정 일자로 봐야할까?
- 간선도로와 도심을 기준?

#### 서울 전체(유입은 많고 유출이 적어서 서울 내에 차가 많은 날을 꼽아볼까?)
- 2020 요일별 교통량 추이를 보면 금요일이 가장 높음
- 주말보단 주중에 유입/유출 차량이 많음

In [9]:
traffic_df.groupby(['DATE']).count()

,지점명,지점번호,방향,구분,0시,1시,2시,3시,4시,5시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
DATE,,,,,,,,,,,,,,,,,,,,,
2020-01-01,270,270,270,270,258,258,258,258,258,258,...,257,257,257,257,258,258,258,258,258,258
2020-01-02,270,270,270,270,257,257,257,257,257,257,...,255,258,258,258,258,258,258,258,258,258
2020-01-03,270,270,270,270,259,259,259,259,259,259,...,259,259,259,259,259,259,259,259,259,259
2020-01-04,270,270,270,270,260,260,260,260,260,260,...,257,257,259,260,260,260,260,260,260,260
2020-01-05,270,270,270,270,260,260,260,260,260,260,...,260,260,260,260,260,260,260,260,260,260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,270,270,270,270,232,232,232,232,232,232,...,236,236,236,236,236,236,235,235,235,235
2020-12-28,270,270,270,270,236,236,236,236,236,236,...,235,235,235,235,235,235,235,235,235,235
2020-12-29,270,270,270,270,235,235,235,235,235,235,...,238,238,238,238,238,238,238,239,238,238
2020-12-30,270,270,270,270,238,238,238,236,236,235,...,236,236,236,236,236,236,236,236,236,236
2020-12-31,270,270,270,270,236,236,236,236,236,236,...,235,235,235,235,235,235,235,235,235,235