# 찾아낸 것

일반적으로 4일권과 7일권의 차이는 1만원       
4일권 가격구분만 해내면 7일권은 문제 없음

In [1]:
import pandas as pd
import os

In [2]:
os.listdir("./data")

['bags_inner_dt.csv',
 'bag_price.csv',
 'clsoet_share_bags.csv',
 'korean_stopwords.txt',
 'negative_words_self.txt',
 'positive_words_self.txt',
 '대여기준.PNG',
 '대여기준1.PNG',
 '리뷰.csv',
 '리뷰크롤링.csv',
 '반납일.PNG',
 '배송기간.PNG',
 '아이템반납.PNG',
 '크롤링2.csv',
 '크롤링int변환.csv',
 '크롤링최종.csv',
 '클로젯셰어_과제DB 대체 자료.xlsx',
 '클로젯셰어_수행 과제.docx',
 '팀_basline_csv.csv']

In [3]:
closet_share_df = pd.read_excel("./data/클로젯셰어_과제DB 대체 자료.xlsx")
crawling_df = pd.read_csv("./data/크롤링최종.csv")
crawling_df.drop(["Unnamed: 0", "brandnm"], axis=1, inplace=True)

In [4]:
# closet_share_df['sub_type'].unique()
tb_df = closet_share_df[closet_share_df['sub_type']=="TP"]
display(tb_df)

,brandnm,goodsnm,USER,reg_date,order_date,p_type,sub_type,app_yn
146,NaN,feminine military blouse & high waist wide slacks,a1144948,2021-01-30,2021-01-30,4days,TP,Y
147,NaN,button basic pattern doublebreasted-jacket sky...,a170041,2020-01-01,2021-01-30,4days,TP,Y
160,NaN,lace point shirring blouse pink & lace detail ...,a1141009,2021-01-04,2021-01-28,4days,TP,Y
220,NaN,printing pattern hoodie grey & pocket basic pa...,a1144470,2021-01-25,2021-01-26,4days,TP,Y
267,NaN,button basic pattern jacket black & pocket bas...,a121913,2019-05-05,2021-01-21,4days,TP,Y
282,NaN,buckle shirt & embroidery lace skirt charcoal,a1132297,2020-11-22,2021-01-21,7days,TP,Y
285,NaN,button tweed pattern doublebreasted-coat multi...,a1127979,2020-10-31,2021-01-21,7days,TP,Y
329,NaN,long sleeve rib t-shirt & check pattern square...,a1134915,2020-12-03,2021-01-19,7days,TP,NaN
342,NaN,cutout neck knit & color pleats belt skirt,a1141257,2021-01-05,2021-01-19,4days,TP,Y
368,NaN,El estilo de Claire - neoprene botanical print...,a1107090,2020-07-03,2021-01-17,4days,TP,Y
373,NaN,frill detail knit & dot pattern skirt,a171081,2020-01-06,2021-01-17,7days,TP,Y
443,NaN,stripe boat neck t-shirt & buckle suspender dress,a1147458,2021-02-24,2021-02-24,7days,TP,Y
505,NaN,stripe pattern long vest gray & wrap detail st...,a1145316,2021-02-03,2021-02-22,4days,TP,Y
525,NaN,no collar simple jacket& crease slacks ivory,a1146852,2021-02-18,2021-02-19,7days,TP,NaN
526,NaN,button check pattern jacket yellow & pocket ch...,a1146852,2021-02-18,2021-02-19,7days,TP,NaN
544,NaN,waffle bulky knit & wool slim skirt,a1146854,2021-02-18,2021-02-18,7days,TP,Y
765,NaN,[66]El estilo de Claire - wang letter neoprene...,a1139388,2020-12-23,2021-02-04,4days,TP,Y
766,NaN,embroidery twist knit & mini gored skirt,a1139388,2020-12-23,2021-02-04,4days,TP,Y
879,NaN,ribbon flower pattern blouse black & pleats fl...,a1149885,2021-03-18,2021-03-30,4days,TP,Y
892,NaN,color lace blouse & color lace skirt,a110947,2018-11-01,2021-03-29,7days,TP,Y
931,NaN,shoulder button pullover & burnout flare skirt,a1150959,2021-03-26,2021-03-26,4days,TP,NaN
946,NaN,cut out detail button pointed top & stripe pat...,a1150675,2021-03-24,2021-03-26,7days,TP,Y
957,NaN,button stripe pattern wool jacket black & pock...,a1124921,2020-10-17,2021-03-25,4days,TP,Y
993,NaN,embossing detail crop jacket & pleats detail p...,a174425,2020-01-16,2021-03-24,4days,TP,Y
1062,NaN,lettering pattern top mint & pocket basic patt...,a1150312,2021-03-22,2021-03-22,4days,TP,Y
1160,NaN,button basic pattern cardigan pink & basic pat...,a1147111,2021-02-21,2021-03-17,4days,TP,Y
1210,NaN,lace pattern top pink & lace pattern skirt pink,a1149269,2021-03-14,2021-03-16,4days,TP,NaN
1385,NaN,button check pattern jacket brown & pocket che...,a1148229,2021-03-04,2021-03-04,4days,TP,NaN
1405,NaN,ribbon flower pattern top navy & flower patter...,a1147799,2021-02-28,2021-03-03,7days,TP,Y

In [5]:
# # 특수문자 전처리
# import re

# # 쉼표 없애기
# def text_cleaning(text):
#     content = re.sub(",", "", text)
#     return content

# # 4days, 7days 에서 , 없애기
# crawling_df['4days'] = crawling_df['4days'].apply(lambda x: text_cleaning(x))
# crawling_df['7days'] = crawling_df['7days'].apply(lambda x: text_cleaning(x))

# # 가격을 int로 바꾸기
# crawling_df['4days'] = crawling_df['4days'].astype(int)
# crawling_df['7days'] = crawling_df['7days'].astype(int)

In [6]:
display(closet_share_df.head())
display(crawling_df.head())

,brandnm,goodsnm,USER,reg_date,order_date,p_type,sub_type,app_yn
0,Gucci,flower dionysus shoulder bag beige,a161237,2019-12-06,2021-01-15,7days,BA,Y
1,El estilo de Claire,beads cropped jacket black,a1140859,2021-01-02,2021-01-15,4days,O,NaN
2,Danha,embroidery point oriental mini skirt blue,a1140859,2021-01-02,2021-01-15,4days,B,NaN
3,Danha,graphics pattern top pink,a1140859,2021-01-02,2021-01-15,4days,T,NaN
4,Burberry London,buckle basic pattern zipup-jumper navy,a1140740,2021-01-01,2021-01-15,7days,O,Y

                                   goodsnm   4days   7days
0              button basic pattern jacket  39,000  49,000
1     belt basic pattern trench-coat khaki  39,000  49,000
2        button basic pattern jacket black  39,000  49,000
3  ruffle basic pattern wool cardigan grey  39,000  49,000
4        pocket basic pattern slacks beige  24,000  34,000

In [7]:
print("원래 DB 길이 :", closet_share_df.shape)
print("크롤링 데이터 길이 :", crawling_df.shape)

원래 DB 길이 : (1471, 8)
크롤링 데이터 길이 : (972, 3)

In [8]:
# 결측치 보완
closet_share_df['brandnm'].fillna("Mixed", inplace=True)
closet_share_df['app_yn'].fillna("N", inplace=True)

# 결측치 제거
closet_share_df = closet_share_df.dropna(axis=0)

In [9]:
# 의류데이터만 합산
df = closet_share_df[closet_share_df['sub_type']!="BA"]

In [10]:
df.shape

(778, 8)

In [11]:
new_df = pd.merge(df, crawling_df, how="outer", on="goodsnm")
display(new_df.head())

,brandnm,goodsnm,USER,reg_date,order_date,p_type,sub_type,app_yn,4days,7days
0,El estilo de Claire,beads cropped jacket black,a1140859,2021-01-02,2021-01-15,4days,O,N,NaN,NaN
1,Danha,embroidery point oriental mini skirt blue,a1140859,2021-01-02,2021-01-15,4days,B,N,NaN,NaN
2,Danha,graphics pattern top pink,a1140859,2021-01-02,2021-01-15,4days,T,N,NaN,NaN
3,Burberry London,buckle basic pattern zipup-jumper navy,a1140740,2021-01-01,2021-01-15,7days,O,Y,NaN,NaN
4,Prada,ruffle detail long coat,a110231,2018-10-18,2021-01-15,7days,O,Y,"34,000","44,000"

In [12]:
original_df = new_df[:933]

In [13]:
original_df.shape

(933, 10)

In [14]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 933 entries, 0 to 932
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   brandnm     933 non-null    object
 1   goodsnm     933 non-null    object
 2   USER        933 non-null    object
 3   reg_date    933 non-null    datetime64[ns]
 4   order_date  933 non-null    datetime64[ns]
 5   p_type      933 non-null    object
 6   sub_type    933 non-null    object
 7   app_yn      933 non-null    object
 8   4days       366 non-null    object
 9   7days       366 non-null    object
dtypes: datetime64[ns](2), object(8)
memory usage: 80.2+ KB

In [15]:
only_price = original_df.dropna(how='any', axis=0)

In [16]:
only_price['sub_type'].unique()

array(['O', 'T', 'D', 'B'], dtype=object)

In [17]:
only_price_O = only_price[only_price['sub_type']=="O"]
print(only_price_O['4days'].unique())
print(only_price_O['4days'].value_counts())

print()

print(only_price_O['7days'].unique())
print(only_price_O['7days'].value_counts())

# 아우터 평균 가격은 37,750 / 47,750

['34,000' '39,000' '24,000' '49,000']
39,000    152
34,000     51
49,000      3
24,000      2
Name: 4days, dtype: int64

['44,000' '49,000' '34,000' '59,000']
49,000    152
44,000     51
59,000      3
34,000      2
Name: 7days, dtype: int64

In [18]:
# check_word = []
# for x in range(len(only_price_O )) :
#     check_word  = check_word + only_price['goodsnm'].iloc[x].split()
    
# check_df = pd.DataFrame(check_word)
# check_df.value_counts().tail(30)

# # 아우터로 판단될 수 있는 것들
# outer = ['coat', 'dress', 'trench-coat', 'sweater', 'sweat-shirts', 'cardigan', 'jumper', 'jacket', 'padding', 'wrap-coat', 'padding-outer', 'fur',' zipup-jumper', 'blouse', 'fullzip-jacket']

In [19]:
only_price_T = only_price[only_price['sub_type']=="T"]
print(only_price_T['4days'].value_counts())
print()
print(only_price_T['7days'].value_counts())

# T는 23000 / 33000

24,000    58
19,000    14
29,000     3
39,000     1
Name: 4days, dtype: int64

34,000    58
29,000    14
39,000     3
49,000     1
Name: 7days, dtype: int64

In [20]:
only_price_D = only_price[only_price['sub_type']=="D"]
print(only_price_D['4days'].value_counts())
print()
print(only_price_D['7days'].value_counts())

# D는 38000 / 48000

39,000    52
34,000     6
Name: 4days, dtype: int64

49,000    52
44,000     6
Name: 7days, dtype: int64

In [21]:
only_price_B = only_price[only_price['sub_type']=="B"]
print(only_price_B['4days'].value_counts())
print()
print(only_price_B['7days'].value_counts())

# B는 23500 / 33500

24,000    21
19,000     3
Name: 4days, dtype: int64

34,000    21
29,000     3
Name: 7days, dtype: int64

In [22]:
# TP의 경우 3일권과 7일권 차이가 2만원
# 38000 / 58000