In [41]:
# 라이브러리 임포트
import os
import pandas as pd
import matplotlib.pyplot as plt
import sys

import warnings
warnings.filterwarnings('ignore')

print("파이썬 버전 :",sys.version)
print("판다스 버전 :",pd.__version__)

파이썬 버전 : 3.7.9 (default, Aug 31 2020, 17:10:11) [MSC v.1916 64 bit (AMD64)]
판다스 버전 : 1.1.3

In [42]:
# 데이터 확인
path = "C:/Users/parkgun/Desktop/프리온보딩/팀프로젝트_1주차/data"
print(os.listdir(path))

# 데이터 불러오기
df = pd.read_csv(path+"/company_nps_data.csv", encoding="cp949")

['company_nps_data.csv']

In [43]:
# 연도와 월을 묶어서 컬럼 형성
df['년월'] = pd.to_datetime(df['년도'].astype(str) + df['월'].astype(str), format='%Y%m').dt.strftime('%Y%m')

# 회사ID, 연도와 월을 제거해보자
df.drop(df[['년도','월']], axis=1, inplace=True)

# 시간순으로 나열해보자
df= df.sort_values(by='년월')

In [44]:
# 코드 참고 : https://github.com/chsop/team4_wanted_onboarding/blob/main/Jaehwan_onboarding_week1_EDA_v0.1.ipynb
# 월별 연금 보험료와 월별 직원수가 0인 경우 제외 처리
df = df.drop(index=df.query('월별_직원수 == 0').index)

In [45]:
display(df)
print(df.shape)

         회사ID      연매출액  월별_연금보험료  월별_직원수      년월
9295   391439   2465042    646460       4  201511
47772  381560  10314403  34580380     105  201511
5572   305317  12271715   5065780      18  201511
78461  301480   8353896   5993500      27  201511
28216  242049   2586419   2236500      14  201511
...       ...       ...       ...     ...     ...
52438  258745    775720   1049920       6  201912
69541  254479   2269625   1260900       5  201912
40130  401386   1512330    829060       3  201912
76502  131998  28298862  17880120      66  201912
47127  177377   6111906   2638340       8  201912

[99788 rows x 5 columns]

(99788, 5)

In [46]:
# 데이터가 일정 개수 이상 존재하는 회사만 남긴다.
df = df.groupby("회사ID").filter(lambda x : len(x) > 10) # 데이터가 10개 이상인 회사만 남긴다.
display(df.head())
print(len(df))

         회사ID      연매출액  월별_연금보험료  월별_직원수      년월
9295   391439   2465042    646460       4  201511
5572   305317  12271715   5065780      18  201511
78461  301480   8353896   5993500      27  201511
28216  242049   2586419   2236500      14  201511
98517  206215    593530    358740       3  201511

97248

In [47]:
# 회사, 년도별로 정리된 df을 갖고 싶다.
# 그 중에서도 연매출액과 월별_직원수의 변화가 있는 데이터프레임만 남기고 싶다.
# 어떻게 해야할까


# 한번 만들어봅시다

# new_df = df[df['회사ID']==391439]
# change_sales_columns = [0]
# change_worker_columns = [0]
# for i in range(len(new_df)-1) :
#     new_sales = new_df.iloc[i+1][1] - new_df.iloc[i][1]
#     change_sales_columns.append(new_sales)
#     new_worker = new_df.iloc[i+1][3] - new_df.iloc[i][3]
#     change_worker_columns.append(new_worker)    
# new_df['연매출액_변화량'] = change_sales_columns
# new_df['월별_직원수_변화량'] = change_worker_columns

# display()

In [48]:
# check_df = pd.DataFrame(columns= ['회사ID','연매출액','월별_연금보험료','월별_직원수','년월','연매출액_변화량','월별_직원수_변화량'])
# check_df = pd.concat([check_df, new_df])

In [49]:
# 자 함수를 만들어봅시다
def make_change(df,x):
    new_df = df[df['회사ID']==x]
    change_sales_columns = [0]
    change_worker_columns = [0]
    for i in range(len(new_df)-1) :
        new_sales = new_df.iloc[i+1][1] - new_df.iloc[i][1]
        change_sales_columns.append(new_sales)
        new_worker = new_df.iloc[i+1][3] - new_df.iloc[i][3]
        change_worker_columns.append(new_worker)    
    new_df['연매출액_변화량'] = change_sales_columns
    new_df['월별_직원수_변화량'] = change_worker_columns

In [50]:
list_id = df['회사ID'].unique()

check_df = pd.DataFrame(columns= ['회사ID','연매출액','월별_연금보험료','월별_직원수','년월','연매출액_변화량','월별_직원수_변화량'])

for x in list_id :
    make_change(df,x)
    check_df = pd.concat([check_df, new_df])

In [51]:
# display(check_df) # 114998개

         회사ID     연매출액 월별_연금보험료 월별_직원수      년월 연매출액_변화량 월별_직원수_변화량
9295   391439  2465042   646460      4  201511        0          0
31242  391439  2465042   745460      5  201512        0          1
81351  391439  2407991   745460      5  201601   -57051          0
49233  391439  2407991   745460      5  201602        0          0
74965  391439  2407991   745460      5  201603        0          0
...       ...      ...      ...    ...     ...      ...        ...
75695  391439  5000791   882860      5  201808        0          0
57847  391439  5000791   882860      5  201809        0          0
23786  391439  5000791   882860      5  201810        0          0
285    391439  5000791  1080860      6  201811        0          1
23644  391439  5000791  1080860      6  201812        0          0

[114998 rows x 7 columns]

26