In [19]:
# 라이브러리 임포트
import os
import pandas as pd
import matplotlib.pyplot as plt
import sys

import warnings
warnings.filterwarnings('ignore')

print("파이썬 버전 :",sys.version)
print("판다스 버전 :",pd.__version__)

파이썬 버전 : 3.7.9 (default, Aug 31 2020, 17:10:11) [MSC v.1916 64 bit (AMD64)]
판다스 버전 : 1.1.3

In [20]:
# 데이터 불러오기
df = pd.read_csv('./변화량_10개_이상.csv')
df.drop('Unnamed: 0', axis=1, inplace=True) # 이상한 컬럼?

display(df)

         회사ID     연매출액  월별_연금보험료  월별_직원수      년월  연매출액_변화량  월별_직원수_변화량
0      391439  2465042    646460       4  201511         0           0
1      391439  2465042    745460       5  201512         0           1
2      391439  2407991    745460       5  201601    -57051           0
3      391439  2407991    745460       5  201602         0           0
4      391439  2407991    745460       5  201603         0           0
...       ...      ...       ...     ...     ...       ...         ...
97243   47306   345228   1266440       7  201908         0           0
97244   47306   345228   1266440       7  201909         0           0
97245   47306   345228   1266440       7  201910         0           0
97246   47306   345228   1266440       7  201911         0           0
97247   47306   345228   1266440       7  201912         0           0

[97248 rows x 7 columns]

In [21]:
list_id = df['회사ID'].unique()

In [22]:
# 연매출액 변화량이 전혀 없는 데이터를 제거한다.

change_sales_list = []

for x in list_id :
    check_df = df[df['회사ID']==x]
    if sum(check_df['연매출액_변화량']) != 0 :
        change_sales_list.append(x)
        
print(len(change_sales_list), "개의 회사가 연매출액이 변화했습니다.")

2581 개의 회사가 연매출액이 변화했습니다.

In [25]:
change_worker_list = []

for z in change_sales_list :
    worker_df = df[df['회사ID']==z]
    if sum(worker_df['월별_직원수_변화량']) != 0 :
        change_worker_list.append(z)
        
print(len(change_worker_list), "개의 회사의 직원수가 변화했습니다.")

2233 개의 회사의 직원수가 변화했습니다.